* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: #214E41;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;  
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
    /*height: 90px;*/
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 25px;
}

.nav-item {
    margin: 0 20px;
}

.nav-link {
    font-weight: bold;
    font-size: 14px; 
    color: #214E41;
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
}

.request {
    text-decoration: none;
    display: inline-block;
    background: #43806C;
    border-radius: 6px;
    color: #fff;
    padding: 10px 20px;
}

.block1 {
    margin: 0 auto;
    /*max-width: 1470px;*/
    width: 1440px;
    /*padding: 0 15px;*/
    min-height: 720px;
    background-image: url("../imgs/pic1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 0 20px;
}

h1 {
    max-width: 636px;
    /*max-height: 138px;*/
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    /*padding-top: 161px;*/
    /*padding-left: 120px;*/
    font-family: Roboto;
    margin: 0 0 20px;
}

.paragraph1 {
    max-width: 636px;
    /*max-height: 138px;*/
    font-size: 16px;
    line-height: 24px;
    color: #214E41;
    /*padding-top: 161px;*/
    /*padding-left: 120px;*/
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    margin: 0;
}

.logo {
    margin-left: -45px;
}

.block2 {
    margin: -95px auto 0;
    width: 1200px;
    padding: 0 15px;
    /*height: 171px;*/
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    display: flex;
}

.folder {
    padding-left: 17px;
    padding-top: 57px;
    padding-bottom: 69;
}

.block3 {
    /*width: 1200px;*/  
    /*height: 432px;*/
    /*background-color: #fff;*/
    margin: 137px auto 0px auto;
    display: flex;
}

.paragraph2 {
    position: relative;
    width: 50%;
    /*height: 358px;*/
    /*padding-left: 60px;*/
    /*padding-top: 22px;*/
    /*display: inline-block;*/
    margin-left: 60px;
}

.par1 {
    /*width: 95px;*/
    /*height: 20px;*/
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
}

.par2 {
    max-width: 478px;
    /*height: 138px;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    /*padding-bottom: 20px;*/
}

.par3 {
    /*padding-bottom: 34px;*/
    max-width: 477px;
    /*height: 90px;*/
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
}

.par4 {
    padding-bottom: 26px;
    /*width: 156px;*/
    /*height: 18px;*/
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0.02px;
    color: #214E41;
    display: inline-block;
    border-bottom: 2px solid;
    padding-bottom: 12px;
    margin: 0;
    text-decoration: none;
}

.schedule {
    /*display: inline-block;*/
    vertical-align: top;
    width: 50%;
    text-align: right;
  }

.img1 {
    /*margin-left: auto;*/
}

.block4 {
    width: 1440px;    
    height: 640px;
    background: linear-gradient(to right,#E3EEED 50%,#214E41 50% 100%);
    margin: 120px auto 0px auto;
}

.custom {
    padding-top: 20px;
    width: 1400px;
    height: 360px;
    margin: 20px auto 0px auto;
}

.custom1 {
    padding-left: 100px;
    max-width: 600px;
    display: inline-block;
}

.aboutplans {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02px;
    color: #FFFFFF;
}

.aboutemployers {
    margin-top: 34px;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02px;
    color: #FFFFFF;   
}

.item {
    width: 33.33333%;
    display: flex;
    align-items: flex-start;
    padding: 50px;
    padding-left: 5px;
}

.item-img {
    margin-left: 10px;
}

.item-content {
    padding-left: 10px;
}

.item-title {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 24px;
    color: #214E41;
    
}

.item-text {
    margin: 0;
    width: 276px;
    font-size: 14px;
    line-height: 20px;
    color: #214E41;
}

.brings {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #214E41;
    padding-top: 120px;
    padding-left: 100px;
}

.bring-main {
    list-style-type: none;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #214E41;
}

.bring-secondary {
    list-style-type: none;
    font-size: 32px;
    line-height: 42px;
    color: #43806C;
    margin-left: 0px;
    margin-top: 18px;
}

.allbrings {
    margin-top: -20px;
    margin-left: 40px;
    width: 50%;
}

.bring-last {
    float: right;
    margin-top: -400px;
    position: relative;
    width: 500px;
    right: 100px;
}

.plans {
    display: flex;
    margin-bottom: 0px;
}

.plan-title {
    width: 50%;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
    margin-bottom: 0px;
}

.plan-text {
    width: 90%;
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    margin-top: 20px;
    margin-bottom: 0px;
}

.plan-subtext {
    width: 90%;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
    margin-top: 34px;
}

.plans-statistics {
    margin-top: 105px;
    margin-bottom: 0px;
}

.people {
    vertical-align: top;
    width: 50%;
    text-align: right;
  }

  .statistics {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.orangeletter {
    font-family: Roboto;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #F0A446;
    margin-right: -15px;
}

.stats {
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: #214E41;
}

.statsblock {
    width: 300px;  
}

.stats.widht1 {
    width: 250px;
    margin-bottom: 0px;
}

.stats.widht2 {
    width: 220px;
    margin-bottom: 0px;
}

.work {
    display: flex;
    width: 1200px;
    height: 500px;
    margin-top: 120px;
}

.picphone {
    margin-left: 100px;
    margin-right: 0px;
}

.experience {
    position: relative;
    width: 45%;
    margin-left: 203px;
    margin-bottom: 0px;
}

.experience-title {
    margin-top: 68px;
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
}

.experience-text {
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
}

.experience-subtext {
    margin-top: 34px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
}

.experience-video {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02px;
    color: #214E41;
    text-decoration: none;
    border-bottom: 2px solid;
    padding-bottom: 14px;
    position: absolute;
}

.employers {
    margin: 0 auto;
    margin-bottom: 0px;
    width: 1440px;
    min-height: 522px;
    background-image: url("../imgs/employer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 20px;
}

h2 {
    margin-top: 126px;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
    margin-left: 120px;
    margin-bottom: 0px;
}

.employers-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    margin-left: 120px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.employers-text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
    margin-left: 120px;
    width: 35%;
    margin-top: 34px;
    margin-bottom: 0px;
}

.employers-subtext {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02px;
    color: #214E41;
    margin-left: 120px;
    margin-top: 24px;
    border-bottom: 2px solid;
    padding-bottom: 14px;
    position: absolute;
    text-decoration: none;
}

.support {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #214E41;
    margin-bottom: 0;
}

.sponsors {
    margin-top: 120px;
    min-height: 347px;
}

.sponsorspic {
    margin-top: 115px;
    display: flex;
    text-align: center;
}

.sponsorslogo {
    width: 20%;
}

.singleborder {
    min-width: 1350px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.37);;
}

.news {
    margin-top: 120px;
    min-height: 368px;
    display: flex;
    padding: 0;
}

.news-text {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
}

.news-suptext {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #214E41;
    max-width: 342px;
}

.news-title {
    width: 33.3333%;
    margin-left: 45px;  
}

.supplementalsolution {
    padding-left: 0px;
    display: flex;
    background-color: #E3EEED;
    min-width: 1440px;
    min-height: 577px;
    margin-top: 120px;
}

.explore {
    margin-left: 120px;
    margin-top: 120px;     
}

.explore-text {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    max-width: 70%; 
}

.button-new {
    background: #43806C;
    border: 1px solid #43806C;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 13px 24px;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.info {
    min-width: 1440px;
    height: 788px;
    background-color: springgreen;
}